[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
    
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson/
